doctype html
html(lang="en")
  head
    title The Sol Programming Language
    link(href="style.css" type="text/css" rel="stylesheet")
    
  body
    header
      h1 Sol
      nav
        ul
          li Home
          li Github
          
    main
      #jumbotron
        h1 Sol
        h4 A simple and clean programming language
